@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.eot');
  src: local('Poppins-Regular'), local('Poppins-Regular'),
    url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
    url('../fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-SemiBold.eot');
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
    url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
    url('../fonts/Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Bold.eot');
  src: local('Poppins Bold'), local('Poppins-Bold'),
    url('../fonts/Poppins/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
    url('../fonts/Poppins/Poppins-Bold.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-ExtraBold.eot');
  src: local('Poppins-ExtraBold'), local('Poppins-ExtraBold'),
    url('../fonts/Poppins/Poppins-ExtraBold.woff') format('woff'),
    url('../fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype'),
    url('../fonts/Poppins/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Medium.eot');
  src: local('Inter Medium'), local('Inter-Medium'),
    url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Regular.eot');
  src: local('Inter Regular'), local('Inter-Regular'),
    url('../fonts/Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Awesome */
@font-face {
  font-family: 'Font Awesome';
  src: url('Font Awesome 6 Brands Regular.eot');
  src: local('Font Awesome 6 Brands Regular'), local('Font Awesome 6 Brands Regular'),
    url('../fonts/Awesome/fa-brands-400.ttf') format('truetype'),
    url('../fonts/Awesome/fa-brands-400.woff2') format('woff2');
  font-weight:normal;
  font-style: normal;
}


@font-face {
  font-family: 'Font Awesome';
  src: url('Font Awesome 6 Free Regular.eot');
  src: local('Font Awesome 6 Free Regular'), local('Font Awesome 6 Free Regular'),
    url('../fonts/Awesome/fa-regular-400.ttf') format('truetype'),
    url('../fonts/Awesome/fa-regular-400.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


 @font-face {
  font-family: 'Font Awesome';
  src: url('Font Awesome 6 Free Solid.eot');
  src: local('Font Awesome Free Solid'), local('Font Awesome Free Solid'),
    url('../fonts/Awesome/fa-solid-900.ttf') format('truetype'),
    url('../fonts/Awesome/fa-solid-900.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'Font Awesome';
  src: url('Font Awesome v4 Compatibility Regular.eot');
  src: local('Font Awesome v4 Compatibility Regular'), local('Font Awesome v4 Compatibility Regular'),
    url('../fonts/Awesome/fa-v4compatibility.ttf') format('truetype'),
    url('../fonts/Awesome/fa-v4compatibility.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}