input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  background: var(--input-bg-color);
  padding: 12px 16px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid var(--input-border-color);
  border-radius: 6px;
  outline: none;
  font-weight: 400;
  font-size: 15px;
  color: #222222;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder {
  font-size: 13px;
  color: #717171;
}

label {
  font-size: 12px;
  color: #717171;
  display: inline-flex;
  margin-bottom: 6px;
}

textarea {
  resize: none;
}

.btn {
  font-family: "Poppins-SemiBolt", sans-serif;
  font-weight: 500;
  margin-top: 16px;
  padding: 10px 75px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
}

.btn-primary {
  color: var(--button-text-color);
  background: var(--button-bg-color);
}

.btn-airbnb {
  --mouse-x: 50;
  --mouse-y: 50;
  background-size: 200% 200%;
  background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
  background-image: radial-gradient(circle at center, #FF385C 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: initial;
  padding: 12px 75px;
  border-radius: 6px;
}

.btn-link {
  color: var(--button-text-color);
  text-transform: none;
  text-decoration: underline;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

/* switcher */
.switcher {
  padding: 2px;
  display: inline-flex;
  align-items: center;
  border: 0;
  width: 24px;
  margin: 0;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'] {
    --active: #BB86FC;
    --active-inner: #fff;
    --focus: 0.5px #f6f8ff;
    --border: #bbc1e1;
    --border-hover: #BB86FC;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }

  input[type='checkbox']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }

  input[type='checkbox']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  input[type='checkbox']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }

  input[type='checkbox']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  input[type='checkbox']:disabled+label {
    cursor: not-allowed;
  }

  input[type='checkbox']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  input[type='checkbox']:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  input[type='checkbox']+label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }

  input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px;
  }

  input[type='checkbox'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }

  input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }

  input[type='checkbox'].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

}